* {
    box-sizing: border-box;
  }

  #body{
    display: flex;
    justify-content: center;
  }

.pseudo-button{
    background-color: rebeccapurple;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    color: darkgray;
    font-weight: bolder;
    cursor: pointer;

   

}

.button-text{
    color: white;
}

#clear-button{
    position: absolute;
    left: 50%;
}

#main-grid-div{
    margin: 60px;
    padding: 20px;
}


  #all-grid-tiles-div{
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    padding: 30px;
    
  }

  
  .all-grid-tiles{
      background-color: white;
      height: 20px;
      width: 20px;
  }