* {
    box-sizing: border-box;
  }

  #body{
    display: flex;
    justify-content: center; 
  }

.pseudo-button{
    background-color: rebeccapurple;
    display: inline-block;
    border-radius: 10px;
    width: 90px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: darkgray;
    font-weight: bolder;
    cursor: pointer;
    border-style: hidden;
    border:2px solid transparent;
}

.button-text{
    color: white;
}

#clear-button{
    position: absolute;
    left: 47%;
}

.pseudo-button:hover{ 
  border: 2px solid  rgb(156, 75, 238);
  box-shadow: 0 1px rgb(0 0 0 / 30%);
}

#main-grid-div{

    margin: 60px;
    padding: 20px;
    height: 540px;
    width: 540px;
    
    
}


  #all-grid-tiles-div{
    display: grid;
    grid-gap: 1px;
  }

  
  .all-grid-tiles{  
      background-color: white;
  }